<div>
    <div id="topbar">
        <button id="details-delete" ng-click="delete()">Delete</button>
        <button id="details-edit" ng-click="edit()">Edit</button>
        <button id="details-valid" ng-click="valid()">Valid</button>
    </div>
    <div id="details">
        <label id="details-name">{{task.name}}</label>
        <div>
            A faire le :
            <label id="details-date">{{task.date|concatDate}}</label>
        </div>
        <div>
            Durée :
            <label id="details-duree">{{task.duree}}</label>
        </div>
        <div>
            Description :
            <label id="details-desc">{{task.desc}}</label>
        </div>
        <div>
            Url :
            <a id="details-url" href="{{task.url}}">{{task.url}}</a>
        </div>
    </div>

</div>

