<div>
    <div id="topbar">
        <label id="title">TodoApp</label>
        <input type="text" id="searchBar" placeholder="Rechercher" required ng-model="search.name">
        <select id="search.category" ng-model="search.category">
            <option value="">No category filter</option>
            <option ng-repeat="option in options" value="{{option}}">{{option}}</option>
        </select>
        <button ng-click="testAdd()" id="testAdd">Test add</button>
    </div>
    <ul id="list">
        <li ng-repeat="task in tasks | filter:{category:search.category,name:search.name} track by task.id" >
            <div class="task" ng-click="details($index)">
                <div class="data">
                    <div id="list-topData">
                        <label id="name">{{task.name}}</label>
                        <label id="date">{{task.date}}</label>
                        <label id="duree">{{task.duree}}</label>
                    </div>
                    <div id="list-bottomData">
                        <label id="desc">{{task.category}}</label>
                        <label id="url">{{task.desc}}</label>
                    </div>

                </div>

                <button ng-click="RemoveTask($index)" id="removeTask"> Delete Task</button>
            </div>
        </li>
    </ul>
    <button ng-click="goToAdd()" id="addTask"> +</button>
</div>
